# Approximates the existing Snowstorm style: tabs, Allman braces, indented
# namespaces, left-aligned pointers/references, inline one-line getters.
# ColumnLimit is 0 so existing long lines are not reflowed.
BasedOnStyle: Microsoft
Language: Cpp
Standard: c++20
UseTab: ForIndentation
IndentWidth: 4
TabWidth: 4
ColumnLimit: 0
BreakBeforeBraces: Allman
NamespaceIndentation: All
PointerAlignment: Left
AccessModifierOffset: -4
FixNamespaceComments: false
SortIncludes: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
