# Directories
.vs/
.venv/
build/
Vendor/Binaries
vcpkg/
Assets/cache

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.log
*.json
*.DotSettings
*.DotSettings.user
*.ini
*.cmake
CMakeCache.txt
ALL_BUILD.*
ZERO_CHECK.*
Makefile