# Directories
.vs/
.venv/
Binaries/
build/
Vendor/Binaries
vcpkg/
Assets/cache
x64/
*.CMakeFiles/
*.dir/
*.Debug/

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.log
*.json
*.DotSettings
*.DotSettings.user
*.ini
*.cmake
CMakeCache.txt
ALL_BUILD.*
ZERO_CHECK.*
Makefile